.background {
  viewport-fill: black;
}

#time {
  font-size: 80;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+40;
  fill: white;
}

.stats {
  font-size: 22;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+145;
  fill: white;
}

#battery {
  font-size: 18;
  font-family: System-Light;
  text-length: 32;
  text-anchor: start;
  fill: white;
}

#battery_img {
  width: 24;
  height: 24;
  x: 12%;
  y: 16;
  opacity: 1;
}

#heartrate_img {
  width: 24;
  height: 24;
  x: 50%-11;
  y: 75%+4;
  fill: #c90a04;
}

#steps_img {
  width: 24;
  height: 24;
  x: 50%-11;
  y: 75%+4;
  fill: deepskyblue;
}

#cals_img {
  width: 24;
  height: 24;
  x: 50%-11;
  y: 75%+4;
  fill: orange;
}

#floors_img {
  width: 24;
  height: 24;
  x: 50%-11;
  y: 75%+4;
  fill: greenyellow;
}

#distance_img {
  width: 24;
  height: 24;
  x: 50%-11;
  y: 75%+4;
  fill: cyan; 
}

#date {
  font-size: 22;
  font-family: System-Light;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 33%+15;
  fill: white;
}

#timeSecs
{
  font-family: System-Light;
  text-anchor: middle;
  text-length: 32;
  font-size: 30;
  fill: white;
  x: 75%;
  y: 50%+40;
}